<form
  method="POST"
  action=""
  class="row row-cols-lg-auto g-3 align-items-center mt-4"
>
  <div class="col-12">
    <div class="form-group">
      <label for="gender-input" class="mb-2">Từ khóa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Tìm kiếm"
      />
      <select name="gender" id="" class="form-control mt-2">
        <option value=""> -- Chọn giới tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Tìm kiếm</button>
  </div>
</form>